@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.purchase-stepper {
    width: 80%;
    min-height: 250px;
    background-color: $white-color;
    padding: 0px 20px;

    &--mobile {
        width: 100%;
        padding: 0px;
    }
}
