@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.payment-form {
    &__label {
        font-weight: bold;
    }

    &__error {
        color: $base-red;
        font-weight: bold;
    }
}
